# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/

# Logs
*.log

# VS Code settings
.vscode/

# Mac OS metadata
.DS_Store

# Test & coverage outputs
htmlcov/
.coverage
coverage.xml

# Python virtualenv
*.env
*.venv RTS/
