/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0 0 60px 0;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
}

/* Header */
header {
    background-color: #1468e6;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 64px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Sections */
section {
    padding: 20px 10px;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 50px;
}

section h1 {
    font-size: 48px;
    margin: 0px;
    padding: 0px;
}

section h2 {
    text-align: left;
    margin-bottom: 20px;
}

/* Projects Section */
#projects {
    padding: 10px 10px;
    padding-bottom: 30px;
    margin: 0 auto;
    width: 80%;
}

#projects h2 {
    text-align: center;
    margin: 15px;
}

/* Project Container */
.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

/* Individual Project */
.project {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    transition: transform 0.2s;
}

.project:hover {
    transform: translateY(-5px);
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.project h3 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.project p {
    color: #555;
}

.project a {
    display: inline-block;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.project a:hover {
    color: #ff6347; /* Tomato color on hover */
}

/* Loader */
.loader {
    text-align: center;
    margin: 20px 0;
    font-size: 1.2em;
    color: #555;
}

/* Contact Form */
form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px;
    border: none;
    background-color:  #555;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 20px;
}

form button:hover {
    background-color:  #1468e6;
}

/* Fixed Footer Styles */
footer {
    position: fixed; /* Fixes the footer relative to the viewport */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1468e6;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    main {
        padding: 30px 15px;
        padding-bottom: 60px; /* Adjust if footer height changes */
    }

    .navigation {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 480px) {
    main {
        padding: 20px 10px;
        padding-bottom: 60px; /* Adjust if footer height changes */
    }

    .navigation li a {
        font-size: 14px;
    }

    footer {
        padding: 10px 0; /* Adjust padding for smaller screens */
    }
}

/* Responsive */
@media (max-width: 768px) {
    .project {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    footer {
        position: relative;
    }
}

/* Back to Top Button */
#back-to-top {
    position: fixed; 
    bottom: 40px;
    right: 40px;
    z-index: 1000;
    background-color: #333;
    color: #1468e6;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    display: none; /* Hidden by default */
    transition: background-color 0.3s, opacity 0.3s;
    opacity: 1; /* Fully transparent */
}

/* Visible State */
#back-to-top.show {
    display: block;
    opacity: 1; /* Fully opaque */
}

#back-to-top:hover {
    background-color: #555;
}

#model-container {
    width: 800px;  /* Set the desired width */
    height: 600px; /* Set the desired height */
    margin: 20px auto; /* Center the container and add some margin */
    border: 1px solid #ccc; /* Optional border */
}

#about {
    padding: 20px;
}  

/* Carousel Styles */
#carousel {
    width: 1226.907px;      /* Adjust the width as needed */
    height: 545.292px;     /* Adjust the height as needed */
    overflow: hidden;
    position: relative;
    margin: auto;
}

#carousel img {
    width: 100%;
    height: 100%;
    display: block;
}

/* Fade-In Effect Styles */
.fade-in {
    opacity: 0;               /* Start invisible */
    transform: translateY(10px); /* Optional: start slightly lower */
    transition: opacity 10s ease-out, transform 10s ease-out;
}

.fade-in.visible {
    opacity: 1;               /* Fade to fully visible */
    transform: translateY(0); /* Move to original position */
}


